name: 'TiebaAutoSign'

on:
  push:
    branches:
      - master
  schedule:
    - cron: '05 19 * * *'
  workflow_dispatch:

jobs:
  tieba_sign:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v3
      - name: 'Set python'
        uses: actions/setup-python@v1
      - name: 'Install dependencies'
        run: python -m pip install --upgrade requests
      - name: 'Start Sign'
        env:
          BDUSS: ${{ secrets.BDUSS }}
        run: python main.py
      - name: 'Start Meow'
        env:
          MEOW_NAME: ${{ secrets.MEOW_NAME }}
        run: python meow.py
